<!DOCTYPE html>
<html lang="zh-Hans-CN">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>卡片生成</title>
		<link rel="stylesheet" href="https://s4.zstatic.net/ajax/libs/picocss/2.0.6/pico.classless.pink.min.css"
			integrity="sha512-gpN3DwAmZO6D860KA5+SGM53fQxcQUc0hrBLOFxjbMSLgEzBDZ9840ZszldG2/B6EXFac7gJs84wQw4yY6+3OQ=="
			crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" href="./src/index.css" />
	</head>

	<body>
		<div id="app">
			<div id="view" style="position: relative;">
				<img style="position: absolute; z-index: 1;" src="/api?by=latedream" alt="预览" />
				<div style="position: absolute; top: 50%; left: 50%;">
					请稍等...
				</div>
			</div>
			
			<div id="edit">
				<h4>主要内容</h4>
				<div class="edit-group">
					<div class="edit-item">
						<label for="pic">贴纸: </label>
						<select id="pic" @change="updatePreview('pic', $event.target.value)">
							<option v-for="item in pics" :value="item.index" :selected="item.selected">
								{{item.name}}
							</option>
						</select>
					</div>
					<div class="edit-item">
						<label for="font-color">字体颜色: </label>
						<input type="color" id="font-color" @change="updatePreview('font_color', $event.target.value)" />
					</div>
					<div class="edit-item">
						<label for="bg-color">背景颜色: </label>
						<input type="color" id="bg-color" @change="updatePreview('bg_color', $event.target.value)" />
					</div>
				</div>
				<h4>右侧内容</h4>
				<details>
				<summary>社交平台</summary>
				<div class="edit-group">
					<div class="edit-item" v-for="item in socials" style="flex-direction: row;">
						<label for="social"><img class="icon" :title="item" :src="`/res/icon/${item}.png`"></label>
						<input type="text" id="social" @change="updatePreview(item, $event.target.value)" />
					</div>
				</div>
				</details>
				<details>
				<summary>游戏</summary>
				<div class="edit-group">
					<div class="edit-item" v-for="item in games" style="flex-direction: row;">
						<label for="game"><img class="icon" :title="item" :src="`/res/icon/${item}.png`"></label>
						<input type="text" id="game" @change="updatePreview(item, $event.target.value)" />
					</div>
				</div>
				</details>
			</div>
			<div id="footer" style="display: flex; flex-direction: column;">
				本来不想搓样式表的 但是我懒得改了 就先这样吧 (￣▽￣)"
				<a href="https://github.com/LateDreamXD/CardsAPI" target="_blank" rel="noopener">GitHub</a>
			</div>
		</div>
		<script type="module" src="./src/index.js"></script>
	</body>
</html>